# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore ocr-ai.json file
ocr-ai-424613-6947f43aca44.json

# Ignore other sensitive files or directories if needed
# Add any other files or directories you want to ignore